# configuration file for the witnessTree bot

# set path to the witnessTree directory 
WITNESSTREEPATH='/path/to/witnessTree/directory/'

# set path to directory with the data from the sensors 
DATAPATH='/path/to/data/directory/'

# twitter API passwords
